# Virtual Environment
venv/
/venv/
*.pyc

# Python cache
__pycache__/

# Database file
*.db
*.sqlite3

# Environment variables
.env
.env.*
!*.env.example

# NEW: Log files
app.log
*.log

# OS-specific files
.DS_Store
Thumbs.db